In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import janitor

In [10]:
iija_df = pd.read_excel("iija.xlsx").clean_names()
iija_df.head()

  state_teritory_or_tribal_nation  total_billions_
0                         ALABAMA           3.0000
1                          ALASKA           3.7000
2                  AMERICAN SAMOA           0.0686
3                         ARIZONA           3.5000
4                        ARKANSAS           2.8000

https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population

In [34]:
import re
import requests
from io import StringIO

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population"

# Send request
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}
response = requests.get(url, headers=headers)
response.raise_for_status()

# Read the first table from the page
df = pd.read_html(StringIO(response.text))[0]

# Flatten multi-level columns and normalize names
df.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df.columns]
df.columns = [re.sub(r'\[.*?\]', '', col.lower().replace(' ', '_').replace('\n', '_')).strip('_') for col in df.columns]

# Keep only the first two columns and rename
df = df.iloc[:56, :2]
df.columns = ['state', 'population']

# Clean 'state' column and convert 'population' to integer
df['state'] = df['state'].str.replace(r'\[.*?\]', '', regex=True).str.strip()
df['population'] = df['population'].astype(int)

In [35]:
df

                       state  population
0                 California    39431263
1                      Texas    31290831
2                    Florida    23372215
3                   New York    19867248
4               Pennsylvania    13078751
5                   Illinois    12710158
6                       Ohio    11883304
7                    Georgia    11180878
8             North Carolina    11046024
9                   Michigan    10140459
10                New Jersey     9500851
11                  Virginia     8811195
12                Washington     7958180
13                   Arizona     7582384
14                 Tennessee     7227750
15             Massachusetts     7136171
16                   Indiana     6924275
17                  Maryland     6263220
18                  Missouri     6245466
19                 Wisconsin     5960975
20                  Colorado     5957493
21                 Minnesota     5793151
22            South Carolina     5478831
23                   Alabama     5157699
24                 Louisiana     4597740
25                  Kentucky     4588372
26                    Oregon     4272371
27                  Oklahoma     4095393
28               Connecticut     3675069
29                      Utah     3503613
30                    Nevada     3267467
31                      Iowa     3241488
32               Puerto Rico     3203295
33                  Arkansas     3088354
34                    Kansas     2970606
35               Mississippi     2943045
36                New Mexico     2130256
37                  Nebraska     2005465
38                     Idaho     2001619
39             West Virginia     1769979
40                    Hawaii     1446146
41             New Hampshire     1409032
42                     Maine     1405012
43                   Montana     1137233
44              Rhode Island     1112308
45                  Delaware     1051917
46              South Dakota      924669
47              North Dakota      796568
48                    Alaska      740133
49      District of Columbia      702250
50                   Vermont      648493
51                   Wyoming      587618
52                      Guam      172952
53       U.S. Virgin Islands      104917
54            American Samoa       47521
55  Northern Mariana Islands       45143

In [ ]:
df.to_csv("us_population_by_state_clean.csv", index=False)