In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import janitor
import re

In [2]:
iija_df = pd.read_excel("iija.xlsx").clean_names()
iija_df = iija_df.rename(columns={"state_teritory_or_tribal_nation":"state", "total_billions_":"total_funding"})
iija_df['state'] = iija_df['state'].str.title()

In [3]:
iija_df

                       state  total_funding
0                    Alabama         3.0000
1                     Alaska         3.7000
2             American Samoa         0.0686
3                    Arizona         3.5000
4                   Arkansas         2.8000
5                 California        18.4000
6                   Colorado         3.2000
7                Connecticut         2.5000
8                   Deleware         0.7920
9       District Of Columbia         1.1000
10                   Florida         8.2000
11                   Georgia         5.0000
12                      Guam         0.1426
13                    Hawaii         1.0000
14                     Idaho         1.2000
15                  Illinois         8.4000
16                   Indiana         3.4000
17                      Iowa         2.4000
18                    Kansas         1.5000
19                  Kentucky         3.9000
20                 Louisiana         4.3000
21                     Maine         1.1000
22                  Maryland         2.7000
23             Massachusetts         3.6000
24                  Michigan         5.2000
25                 Minnesota         2.7000
26               Mississippi         2.3000
27                  Missouri         3.8000
28                   Montana         3.3000
29                  Nebraska         1.3000
30                    Nevada         1.7000
31             New Hampshire         0.7518
32                New Jersey         5.1000
33                New Mexico         2.6000
34                  New York        10.1000
35            North Carolina         4.5000
36              North Dakota         1.8000
37  Northern Mariana Islands         0.0833
38                      Ohio         6.6000
39                  Oklahoma         2.9000
40                    Oregon         2.3000
41              Pennsylvania         8.1000
42               Puerto Rico         0.9937
43              Rhode Island         1.1000
44            South Carolina         2.3000
45              South Dakota         1.3000
46                 Tennessee         3.7000
47                     Texas        14.2000
48        Tribal Communities         3.0000
49         Us Virgin Islands         0.1483
50                      Utah         1.8000
51                   Vermont         0.8521
52                  Virginia         4.5000
53                Washington         4.0000
54             West Virginia         2.0000
55                 Wisconsin         2.8000
56                   Wyoming         2.3000

https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population

In [6]:
import requests
from io import StringIO

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population"

# Send request
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}
response = requests.get(url, headers=headers)
response.raise_for_status()

# Read the first table from the page
population_df = pd.read_html(StringIO(response.text))[0]

# Flatten multi-level columns and normalize names
population_df.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in population_df.columns]
population_df.columns = [re.sub(r'\[.*?\]', '', col.lower().replace(' ', '_').replace('\n', '_')).strip('_') for col in population_df.columns]

# Keep only the first two columns and rename
population_df = population_df.iloc[:56, :2]
population_df.columns = ['state', 'population']

# Clean 'state' column and convert 'population' to integer and match scale with IIJA
population_df['state'] = population_df['state'].str.replace(r'\[.*?\]', '', regex=True).str.strip()
population_df['population'] = population_df['population'].astype(int) / 1e9

# df.to_csv("us_population_by_state_clean.csv", index=False)

In [7]:
population_df

                       state  population
0                 California    0.039431
1                      Texas    0.031291
2                    Florida    0.023372
3                   New York    0.019867
4               Pennsylvania    0.013079
5                   Illinois    0.012710
6                       Ohio    0.011883
7                    Georgia    0.011181
8             North Carolina    0.011046
9                   Michigan    0.010140
10                New Jersey    0.009501
11                  Virginia    0.008811
12                Washington    0.007958
13                   Arizona    0.007582
14                 Tennessee    0.007228
15             Massachusetts    0.007136
16                   Indiana    0.006924
17                  Maryland    0.006263
18                  Missouri    0.006245
19                 Wisconsin    0.005961
20                  Colorado    0.005957
21                 Minnesota    0.005793
22            South Carolina    0.005479
23                   Alabama    0.005158
24                 Louisiana    0.004598
25                  Kentucky    0.004588
26                    Oregon    0.004272
27                  Oklahoma    0.004095
28               Connecticut    0.003675
29                      Utah    0.003504
30                    Nevada    0.003267
31                      Iowa    0.003241
32               Puerto Rico    0.003203
33                  Arkansas    0.003088
34                    Kansas    0.002971
35               Mississippi    0.002943
36                New Mexico    0.002130
37                  Nebraska    0.002005
38                     Idaho    0.002002
39             West Virginia    0.001770
40                    Hawaii    0.001446
41             New Hampshire    0.001409
42                     Maine    0.001405
43                   Montana    0.001137
44              Rhode Island    0.001112
45                  Delaware    0.001052
46              South Dakota    0.000925
47              North Dakota    0.000797
48                    Alaska    0.000740
49      District of Columbia    0.000702
50                   Vermont    0.000648
51                   Wyoming    0.000588
52                      Guam    0.000173
53       U.S. Virgin Islands    0.000105
54            American Samoa    0.000048
55  Northern Mariana Islands    0.000045

In [8]:
population_df

                       state  population
0                 California    0.039431
1                      Texas    0.031291
2                    Florida    0.023372
3                   New York    0.019867
4               Pennsylvania    0.013079
5                   Illinois    0.012710
6                       Ohio    0.011883
7                    Georgia    0.011181
8             North Carolina    0.011046
9                   Michigan    0.010140
10                New Jersey    0.009501
11                  Virginia    0.008811
12                Washington    0.007958
13                   Arizona    0.007582
14                 Tennessee    0.007228
15             Massachusetts    0.007136
16                   Indiana    0.006924
17                  Maryland    0.006263
18                  Missouri    0.006245
19                 Wisconsin    0.005961
20                  Colorado    0.005957
21                 Minnesota    0.005793
22            South Carolina    0.005479
23                   Alabama    0.005158
24                 Louisiana    0.004598
25                  Kentucky    0.004588
26                    Oregon    0.004272
27                  Oklahoma    0.004095
28               Connecticut    0.003675
29                      Utah    0.003504
30                    Nevada    0.003267
31                      Iowa    0.003241
32               Puerto Rico    0.003203
33                  Arkansas    0.003088
34                    Kansas    0.002971
35               Mississippi    0.002943
36                New Mexico    0.002130
37                  Nebraska    0.002005
38                     Idaho    0.002002
39             West Virginia    0.001770
40                    Hawaii    0.001446
41             New Hampshire    0.001409
42                     Maine    0.001405
43                   Montana    0.001137
44              Rhode Island    0.001112
45                  Delaware    0.001052
46              South Dakota    0.000925
47              North Dakota    0.000797
48                    Alaska    0.000740
49      District of Columbia    0.000702
50                   Vermont    0.000648
51                   Wyoming    0.000588
52                      Guam    0.000173
53       U.S. Virgin Islands    0.000105
54            American Samoa    0.000048
55  Northern Mariana Islands    0.000045

In [ ]:
from rapidfuzz import process, fuzz

# Function to get best fuzzy match AND score
def fuzzy_match_with_score(name, choices, scorer=fuzz.token_sort_ratio):
    match = process.extractOne(name, choices, scorer=scorer)
    if match:
        return match[0], match[1]  # (best match, score)
    return None, None

# Apply fuzzy matching
df_states = population_df['state'].tolist()
iija_df[['matched_state', 'match_score']] = iija_df['state'].apply(
    lambda x: pd.Series(fuzzy_match_with_score(x, df_states))
)

# Add a flag for low confidence
iija_df['low_confidence'] = iija_df['match_score'] < 80

# Merge with df
merged_df = iija_df.merge(population_df, left_on='matched_state', right_on='state', how='left')

# Clean up columns
merged_df = merged_df.drop(columns=['state_y']).rename(columns={'state_x': 'state'})

# Final view
merged_df[['state', 'total_funding', 'matched_state', 'match_score', 'low_confidence', 'population']].sort_values('match_score').head()

,state,total_funding,matched_state,match_score,low_confidence,population
48,Tribal Communities,3.0000,Louisiana,44.444444,True,0.004598
8,Deleware,0.7920,Delaware,87.500000,False,0.001052
49,Us Virgin Islands,0.1483,U.S. Virgin Islands,88.888889,False,0.000105
9,District Of Columbia,1.1000,District of Columbia,95.000000,False,0.000702
0,Alabama,3.0000,Alabama,100.000000,False,0.005158

In [73]:
merged_filter_df = merged_df[merged_df['low_confidence']  == False]

In [74]:
state_df = merged_filter_df[['matched_state', 'total_funding', 'population']]
state_df = state_df.rename(columns={'matched_state':'state'})
state_df

                       state  total_funding  population
0                    Alabama         3.0000    0.005158
1                     Alaska         3.7000    0.000740
2             American Samoa         0.0686    0.000048
3                    Arizona         3.5000    0.007582
4                   Arkansas         2.8000    0.003088
5                 California        18.4000    0.039431
6                   Colorado         3.2000    0.005957
7                Connecticut         2.5000    0.003675
8                   Delaware         0.7920    0.001052
9       District of Columbia         1.1000    0.000702
10                   Florida         8.2000    0.023372
11                   Georgia         5.0000    0.011181
12                      Guam         0.1426    0.000173
13                    Hawaii         1.0000    0.001446
14                     Idaho         1.2000    0.002002
15                  Illinois         8.4000    0.012710
16                   Indiana         3.4000    0.006924
17                      Iowa         2.4000    0.003241
18                    Kansas         1.5000    0.002971
19                  Kentucky         3.9000    0.004588
20                 Louisiana         4.3000    0.004598
21                     Maine         1.1000    0.001405
22                  Maryland         2.7000    0.006263
23             Massachusetts         3.6000    0.007136
24                  Michigan         5.2000    0.010140
25                 Minnesota         2.7000    0.005793
26               Mississippi         2.3000    0.002943
27                  Missouri         3.8000    0.006245
28                   Montana         3.3000    0.001137
29                  Nebraska         1.3000    0.002005
30                    Nevada         1.7000    0.003267
31             New Hampshire         0.7518    0.001409
32                New Jersey         5.1000    0.009501
33                New Mexico         2.6000    0.002130
34                  New York        10.1000    0.019867
35            North Carolina         4.5000    0.011046
36              North Dakota         1.8000    0.000797
37  Northern Mariana Islands         0.0833    0.000045
38                      Ohio         6.6000    0.011883
39                  Oklahoma         2.9000    0.004095
40                    Oregon         2.3000    0.004272
41              Pennsylvania         8.1000    0.013079
42               Puerto Rico         0.9937    0.003203
43              Rhode Island         1.1000    0.001112
44            South Carolina         2.3000    0.005479
45              South Dakota         1.3000    0.000925
46                 Tennessee         3.7000    0.007228
47                     Texas        14.2000    0.031291
49       U.S. Virgin Islands         0.1483    0.000105
50                      Utah         1.8000    0.003504
51                   Vermont         0.8521    0.000648
52                  Virginia         4.5000    0.008811
53                Washington         4.0000    0.007958
54             West Virginia         2.0000    0.001770
55                 Wisconsin         2.8000    0.005961
56                   Wyoming         2.3000    0.000588

https://github.com/tonmcg/US_County_Level_Election_Results_08-24

https://raw.githubusercontent.com/tonmcg/US_County_Level_Election_Results_08-24/refs/heads/master/2020_US_County_Level_Presidential_Results.csv

In [75]:
election_results_df = pd.read_csv("https://raw.githubusercontent.com/tonmcg/US_County_Level_Election_Results_08-24/refs/heads/master/2020_US_County_Level_Presidential_Results.csv")

In [76]:
election_results_df

,state_name,county_fips,county_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
0,Alabama,1001,Autauga County,19838,7503,27770,12335,0.714368,0.270184,0.444184
1,Alabama,1003,Baldwin County,83544,24578,109679,58966,0.761714,0.224090,0.537623
2,Alabama,1005,Barbour County,5622,4816,10518,806,0.534512,0.457882,0.076631
3,Alabama,1007,Bibb County,7525,1986,9595,5539,0.784263,0.206983,0.577280
4,Alabama,1009,Blount County,24711,2640,27588,22071,0.895716,0.095694,0.800022
...,...,...,...,...,...,...,...,...,...,...
3147,Wyoming,56037,Sweetwater County,12229,3823,16603,8406,0.736554,0.230260,0.506294
3148,Wyoming,56039,Teton County,4341,9848,14677,-5507,0.295769,0.670982,-0.375213
3149,Wyoming,56041,Uinta County,7496,1591,9402,5905,0.797277,0.169219,0.628058
3150,Wyoming,56043,Washakie County,3245,651,4012,2594,0.808824,0.162263,0.646560
3151,Wyoming,56045,Weston County,3107,360,3542,2747,0.877188,0.101637,0.775551

In [77]:
election_df = election_results_df[['state_name', 'county_name', 'votes_gop', 'votes_dem']]

In [78]:
election_df = election_df.groupby('state_name').sum(numeric_only=True)
election_df

                      votes_gop  votes_dem
state_name
Alabama                 1441168     849648
Alaska                   189892     153405
Arizona                 1661686    1672143
Arkansas                 760647     423932
California              6005961   11109764
Colorado                1364607    1804352
Connecticut              715291    1080680
Delaware                 200603     296268
District of Columbia      18586     317323
Florida                 5668731    5297045
Georgia                 2461854    2473633
Hawaii                   196864     366130
Idaho                    554118     287021
Illinois                2446891    3471915
Indiana                 1729852    1242495
Iowa                     897672     759061
Kansas                   758100     558669
Kentucky                1326646     772474
Louisiana               1255776     856034
Maine                    359899     430473
Maryland                 976414    1985023
Massachusetts           1167202    2382202
Michigan                2649852    2804040
Minnesota               1484065    1717077
Mississippi              756764     539398
Missouri                1718736    1253014
Montana                  343602     244786
Nebraska                 556846     374583
Nevada                   669890     703486
New Hampshire            365654     424921
New Jersey              1883274    2608335
New Mexico               401894     501614
New York                3250230    5244006
North Carolina          2758773    2684292
North Dakota             235595     114902
Ohio                    3154834    2679165
Oklahoma                1020280     503890
Oregon                   958448    1340383
Pennsylvania            3378263    3459923
Rhode Island             199837     306210
South Carolina          1385103    1091541
South Dakota             261043     150471
Tennessee               1852475    1143711
Texas                   5890347    5259126
Utah                     865140     560282
Vermont                  112704     242820
Virginia                1962430    2413568
Washington              1584651    2369612
West Virginia            545382     235984
Wisconsin               1610065    1630673
Wyoming                  193559      73491

In [79]:
analysis_df = state_df.merge(election_df, left_on='state', right_on='state_name', how='left')
analysis_df

                       state  total_funding  population  votes_gop   votes_dem
0                    Alabama         3.0000    0.005158  1441168.0    849648.0
1                     Alaska         3.7000    0.000740   189892.0    153405.0
2             American Samoa         0.0686    0.000048        NaN         NaN
3                    Arizona         3.5000    0.007582  1661686.0   1672143.0
4                   Arkansas         2.8000    0.003088   760647.0    423932.0
5                 California        18.4000    0.039431  6005961.0  11109764.0
6                   Colorado         3.2000    0.005957  1364607.0   1804352.0
7                Connecticut         2.5000    0.003675   715291.0   1080680.0
8                   Delaware         0.7920    0.001052   200603.0    296268.0
9       District of Columbia         1.1000    0.000702    18586.0    317323.0
10                   Florida         8.2000    0.023372  5668731.0   5297045.0
11                   Georgia         5.0000    0.011181  2461854.0   2473633.0
12                      Guam         0.1426    0.000173        NaN         NaN
13                    Hawaii         1.0000    0.001446   196864.0    366130.0
14                     Idaho         1.2000    0.002002   554118.0    287021.0
15                  Illinois         8.4000    0.012710  2446891.0   3471915.0
16                   Indiana         3.4000    0.006924  1729852.0   1242495.0
17                      Iowa         2.4000    0.003241   897672.0    759061.0
18                    Kansas         1.5000    0.002971   758100.0    558669.0
19                  Kentucky         3.9000    0.004588  1326646.0    772474.0
20                 Louisiana         4.3000    0.004598  1255776.0    856034.0
21                     Maine         1.1000    0.001405   359899.0    430473.0
22                  Maryland         2.7000    0.006263   976414.0   1985023.0
23             Massachusetts         3.6000    0.007136  1167202.0   2382202.0
24                  Michigan         5.2000    0.010140  2649852.0   2804040.0
25                 Minnesota         2.7000    0.005793  1484065.0   1717077.0
26               Mississippi         2.3000    0.002943   756764.0    539398.0
27                  Missouri         3.8000    0.006245  1718736.0   1253014.0
28                   Montana         3.3000    0.001137   343602.0    244786.0
29                  Nebraska         1.3000    0.002005   556846.0    374583.0
30                    Nevada         1.7000    0.003267   669890.0    703486.0
31             New Hampshire         0.7518    0.001409   365654.0    424921.0
32                New Jersey         5.1000    0.009501  1883274.0   2608335.0
33                New Mexico         2.6000    0.002130   401894.0    501614.0
34                  New York        10.1000    0.019867  3250230.0   5244006.0
35            North Carolina         4.5000    0.011046  2758773.0   2684292.0
36              North Dakota         1.8000    0.000797   235595.0    114902.0
37  Northern Mariana Islands         0.0833    0.000045        NaN         NaN
38                      Ohio         6.6000    0.011883  3154834.0   2679165.0
39                  Oklahoma         2.9000    0.004095  1020280.0    503890.0
40                    Oregon         2.3000    0.004272   958448.0   1340383.0
41              Pennsylvania         8.1000    0.013079  3378263.0   3459923.0
42               Puerto Rico         0.9937    0.003203        NaN         NaN
43              Rhode Island         1.1000    0.001112   199837.0    306210.0
44            South Carolina         2.3000    0.005479  1385103.0   1091541.0
45              South Dakota         1.3000    0.000925   261043.0    150471.0
46                 Tennessee         3.7000    0.007228  1852475.0   1143711.0
47                     Texas        14.2000    0.031291  5890347.0   5259126.0
48       U.S. Virgin Islands         0.1483    0.000105        NaN         NaN
49                      Utah         1.8000    0.003504   865140.0    560282.0
50                   Vermont         0.8521    0.000648   112704.0    242820.0
51                  Virginia         4.5000    0.008811  1962430.0   2413568.0
52                Washington         4.0000    0.007958  1584651.0   2369612.0
53             West Virginia         2.0000    0.001770   545382.0    235984.0
54                 Wisconsin         2.8000    0.005961  1610065.0   1630673.0
55                   Wyoming         2.3000    0.000588   193559.0     73491.0

In [80]:
analysis_df[['votes_gop', 'votes_dem']] = analysis_df[['votes_gop', 'votes_dem']] / 1e9

In [81]:
analysis_df.describe()

       total_funding  population  votes_gop  votes_dem
count      56.000000   56.000000  51.000000  51.000000
mean        3.447007    0.006137   0.001455   0.001593
std         3.323185    0.007457   0.001413   0.001916
min         0.068600    0.000045   0.000019   0.000073
25%         1.300000    0.001408   0.000474   0.000399
50%         2.700000    0.003885   0.001020   0.000856
75%         3.925000    0.007316   0.001791   0.002376
max        18.400000    0.039431   0.006006   0.011110