In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("NROU.csv")

# Convert observation_date to datetime
df["observation_date"] = pd.to_datetime(df["observation_date"])

# Set index to observation_date
df.set_index("observation_date", inplace=True)

# Reindex to monthly frequency
df = df.asfreq("MS")

# Forward fill missing values
df["NROU"] = df["NROU"].ffill()

In [6]:
df = df.reset_index()

In [7]:
df

    observation_date      NROU
0         2000-07-01  5.081702
1         2000-08-01  5.081702
2         2000-09-01  5.081702
3         2000-10-01  5.074767
4         2000-11-01  5.074767
..               ...       ...
296       2025-03-01  4.320248
297       2025-04-01  4.318228
298       2025-05-01  4.318228
299       2025-06-01  4.318228
300       2025-07-01  4.315608

[301 rows x 2 columns]

In [8]:
df.to_csv("NROU_adj.csv")